In [ ]:
import pandas as pd
import numpy as np

## Reading in Data with read_csv()

In [ ]:
# need to squeeze then copy the data otherwise this is just a view over top the raw data
alcohol = pd.read_csv("./data/drinks.csv", usecols=["country", "wine_servings"], index_col="country").squeeze("columns").copy()

In [ ]:
alcohol.head()

In [ ]:
type(alcohol)

### Series Sizing with size, shape and len()

In [ ]:
alcohol.size

In [ ]:
alcohol.shape

In [ ]:
# get just the values
alcohol.values

In [ ]:
# get just the labels
alcohol.index

In [ ]:
alcohol.shape

### Unique Values and Series Monotonicity

In [ ]:
alcohol.is_unique

In [ ]:
alcohol.head().is_unique

In [ ]:
# get a count of unique values including NAs
alcohol.nunique(dropna=False)

In [ ]:
#monotonicity order theory
pd.Series([1,2,3,3,3,4,2,1]).is_monotonic_increasing

### Count() Method

In [ ]:
# count the number of items excluding an None or NA
alcohol.count()

In [ ]:
# check to see if there is any nans in the data
alcohol.hasnans

### Accessing and Counting NA's

In [ ]:
alcohol.size

In [ ]:
alcohol.count()

In [ ]:
alcohol.isnull()

In [ ]:
# alcohol.loc[alcohol.isnull()].index.size
alcohol.isnull().sum()

In [ ]:
all = alcohol.size

In [ ]:
nonnulls = alcohol.count()

In [ ]:
nulls = alcohol.isnull().sum()

In [ ]:
all == nonnulls + nulls

### Bonus approach

In [ ]:
#unfunc -> universal function

In [ ]:
ser = pd.Series([True, False, None, 21, ], dtype=float)

In [ ]:
np.isnan(ser)

In [ ]:
ser

In [ ]:
alcohol.loc[np.isnan]

In [ ]:
alcohol.loc[np.isnan].size

### The Other size: nonull() and notna()

In [ ]:
alcohol.notnull()

In [ ]:
alcohol.loc[alcohol.notnull()]

In [ ]:
alcohol.notnull().sum()

### Dropping and Filling NAs

In [94]:
alcohol.dropna()

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [95]:
alcohol.fillna(value=100, inplace=False)

country
Afghanistan    100.0
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen          100.0
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

### Descripttive Statistices

In [96]:
alcohol.sum()

8221.0

In [98]:
# get the average
alcohol.mean()

50.74691358024691

In [99]:
alcohol.median()

11.5

In [100]:
alcohol.quantile(q=.5)

11.5

In [103]:
# IQR
iqr = alcohol.quantile(.75) - alcohol.quantile(.25)
iqr

58.25

In [104]:
#min and max
alcohol.min()

1.0

In [105]:
alcohol.max()

339.0

In [106]:
# standard deviation
alcohol.std()

76.13491716376173

In [107]:
# variances
alcohol.var()

5796.52561153286

### Describe() Method

In [108]:
alcohol.describe()

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
25%        3.000000
50%       11.500000
75%       61.250000
max      339.000000
Name: wine_servings, dtype: float64

In [109]:
alcohol.describe(percentiles=[.79,.19])

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
19%        2.000000
50%       11.500000
79%       81.570000
max      339.000000
Name: wine_servings, dtype: float64

In [110]:
# filter data by type
alcohol.describe(include=float, exclude=object)

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
25%        3.000000
50%       11.500000
75%       61.250000
max      339.000000
Name: wine_servings, dtype: float64

### mode() and value_count()

mode = get the most common item

In [111]:
alcohol.mode()

0    1.0
Name: wine_servings, dtype: float64

In [112]:
alcohol == 1

country
Afghanistan    False
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam         True
Yemen          False
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [115]:
alcohol[alcohol == 1].size

28

In [117]:
# value counts for each unique value
alcohol.value_counts()

1.0      28
2.0      10
7.0       9
8.0       7
5.0       6
         ..
218.0     1
185.0     1
78.0      1
165.0     1
22.0      1
Name: wine_servings, Length: 71, dtype: int64

### idxmax() and idxmin()

In [118]:
alcohol.max()

339.0

In [119]:
alcohol[alcohol == alcohol.max()]

country
Portugal    339.0
Name: wine_servings, dtype: float64

In [122]:
alcohol.idxmax()

'Portugal'

In [123]:
alcohol.idxmin()

'Brunei'

### Sorting with sort_values()

In [131]:
alcohol.sort_values(ascending=False,na_position='last',  kind="quick")

country
Portugal      339.0
Andorra       312.0
Denmark       278.0
Slovenia      276.0
Luxembourg    271.0
              ...
Sri Lanka       NaN
Sudan           NaN
Tajikistan      NaN
Uganda          NaN
Yemen           NaN
Name: wine_servings, Length: 193, dtype: float64

In [132]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

### nlargest() and nsmallest()

In [133]:
alcohol.min()

1.0

In [134]:
alcohol.max()

339.0

In [137]:
# return back list of largest numbers
alcohol.nlargest()

country
Portugal      339.0
Andorra       312.0
Denmark       278.0
Slovenia      276.0
Luxembourg    271.0
Name: wine_servings, dtype: float64

In [136]:
alcohol.nsmallest()

country
Brunei                      1.0
Cambodia                    1.0
Canada                      1.0
Central African Republic    1.0
Chad                        1.0
Name: wine_servings, dtype: float64

### Sorting with sort_index()

In [138]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [140]:
alcohol.sort_index(ascending=False)

country
Zimbabwe         4.0
Zambia           4.0
Yemen            NaN
Vietnam          1.0
Venezuela        3.0
               ...
Angola          45.0
Andorra        312.0
Algeria         14.0
Albania         54.0
Afghanistan      NaN
Name: wine_servings, Length: 193, dtype: float64

### Series Arithmetics and Fill_Values()

In [141]:
alcohol + 2

country
Afghanistan      NaN
Albania         56.0
Algeria         16.0
Andorra        314.0
Angola          47.0
               ...
Venezuela        5.0
Vietnam          3.0
Yemen            NaN
Zambia           6.0
Zimbabwe         6.0
Name: wine_servings, Length: 193, dtype: float64

In [152]:
more_drinks = pd.Series({'Albania': 6, 'Alberia': 19, 'Algeria': 10, 'Afghanistan': 100, 'Yemen': 101})

In [150]:
alcohol + more_drinks

Afghanistan     NaN
Albania        60.0
Algeria        24.0
Andorra         NaN
Angola          NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 193, dtype: float64

In [153]:
alcohol.add(more_drinks, fill_value=0)

Afghanistan    100.0
Albania         60.0
Alberia         19.0
Algeria         24.0
Andorra        312.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen          101.0
Zambia           4.0
Zimbabwe         4.0
Length: 194, dtype: float64

In [154]:
alcohol - more_drinks

Afghanistan     NaN
Albania        48.0
Alberia         NaN
Algeria         4.0
Andorra         NaN
               ...
Venezuela       NaN
Vietnam         NaN
Yemen           NaN
Zambia          NaN
Zimbabwe        NaN
Length: 194, dtype: float64

### BONUS: Calculating Standard and Variances

In [155]:
alcohol.var()

5796.52561153286

In [158]:
(alcohol.subtract(alcohol.mean())**2).sum()/ (alcohol.count() - 1)

5796.5256115328575

In [159]:
(alcohol.subtract(alcohol.mean())**2).sum()/ (alcohol.count() - 1)**(1/2)

73549.66468713625

### Cumulative Operations

In [160]:
# sum
alcohol.sum()

8221.0

In [161]:
# so add the previous value to the current row
alcohol.cumsum()

country
Afghanistan       NaN
Albania          54.0
Algeria          68.0
Andorra         380.0
Angola          425.0
                ...
Venezuela      8212.0
Vietnam        8213.0
Yemen             NaN
Zambia         8217.0
Zimbabwe       8221.0
Name: wine_servings, Length: 193, dtype: float64

In [162]:
alcohol.prod()

3.427611505218281e+183

### Pairwise Difference with diff

In [163]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [164]:
alcohol.diff().head()

country
Afghanistan      NaN
Albania          NaN
Algeria        -40.0
Andorra        298.0
Angola        -267.0
Name: wine_servings, dtype: float64

In [166]:
alcohol.diff(periods=2).head()

country
Afghanistan      NaN
Albania          NaN
Algeria          NaN
Andorra        258.0
Angola          31.0
Name: wine_servings, dtype: float64

### Series iteration

In [167]:
mini_alc = alcohol[:10]

In [168]:
mini_alc

country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Argentina            221.0
Armenia               11.0
Australia            212.0
Austria              191.0
Name: wine_servings, dtype: float64

In [169]:
for i in mini_alc:
    print(i)

nan
54.0
14.0
312.0
45.0
45.0
221.0
11.0
212.0
191.0

In [170]:
for i in mini_alc.index:
    print(i)

Afghanistan
Albania
Algeria
Andorra
Angola
Antigua & Barbuda
Argentina
Armenia
Australia
Austria

In [172]:
for i in mini_alc.index:
    print(i, mini_alc[i])

Afghanistan nan
Albania 54.0
Algeria 14.0
Andorra 312.0
Angola 45.0
Antigua & Barbuda 45.0
Argentina 221.0
Armenia 11.0
Australia 212.0
Austria 191.0

In [174]:
for i in mini_alc.items():
    print(i)

('Afghanistan', nan)
('Albania', 54.0)
('Algeria', 14.0)
('Andorra', 312.0)
('Angola', 45.0)
('Antigua & Barbuda', 45.0)
('Argentina', 221.0)
('Armenia', 11.0)
('Australia', 212.0)
('Austria', 191.0)

### Filtering: filter(), where(), and mask()

1. filter only filters against the index

In [178]:
alcohol.filter(regex='^V')

country
Vanuatu      11.0
Venezuela     3.0
Vietnam       1.0
Name: wine_servings, dtype: float64

In [179]:
alcohol.filter(like='stan')

country
Afghanistan      NaN
Kazakhstan      12.0
Kyrgyzstan       6.0
Pakistan         NaN
Tajikistan       NaN
Turkmenistan    32.0
Uzbekistan       8.0
Name: wine_servings, dtype: float64

In [181]:
# if we want to get all the rows where servings is greater than 200
alcohol.loc[alcohol > 200]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [183]:
# or we can use a function to filter

def gt200(x):
    return x > 200

alcohol.loc[gt200]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [200]:
# where() method - this flags records with NaN if they don't meet the requirement
alcohol.where( lambda x: x > 200 ).dropna()

country
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [188]:
alcohol.where( lambda x: x <= 200 ).dropna()

country
Albania              54.0
Algeria              14.0
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 150, dtype: float64

In [203]:
# the mask if we want to filter values by FALSE - works opposite to where statement where it flags the records as NaN 
# if they don't meet the requirment

alcohol.mask(lambda x: x < 200).dropna()

country
Albania              200.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

### update(), apply() and map()

In [190]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [193]:
# spot transform vs globabl transform
# spot  - update only certain rows
alcohol.loc['Algeria'] = 19
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         19.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [195]:
alcohol.loc['Albania'] = 20
alcohol.loc['Afghanistan'] = 20
alcohol.loc['Andorra'] = 29
alcohol.head()

country
Afghanistan    20.0
Albania        20.0
Algeria        19.0
Andorra        29.0
Angola         45.0
Name: wine_servings, dtype: float64

In [196]:
# the update() method -  to update lots of rows at once, so need to pass the values to update to and the index to apply to
alcohol.update(pd.Series(data=[200, 20], index=['Albania', 'Algeria']))
alcohol.head()

country
Afghanistan     20.0
Albania        200.0
Algeria         20.0
Andorra         29.0
Angola          45.0
Name: wine_servings, dtype: float64

In [206]:
# Globabl/Common transform
# apply method - apply transform to each element
alcohol.apply(lambda x: x**2)

country
Afghanistan      400.0
Albania        40000.0
Algeria          400.0
Andorra          841.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [207]:
# using a numpy universal fucntion
alcohol.apply(np.square)

country
Afghanistan      400.0
Albania        40000.0
Algeria          400.0
Andorra          841.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [208]:
# or using an our function
def multiply_by_self(x):
    return x * x

alcohol.apply(multiply_by_self)

country
Afghanistan      400.0
Albania        40000.0
Algeria          400.0
Andorra          841.0
Angola          2025.0
                ...
Venezuela          9.0
Vietnam            1.0
Yemen              NaN
Zambia            16.0
Zimbabwe          16.0
Name: wine_servings, Length: 193, dtype: float64

In [210]:
# function wtih parameters
def multiply_by_self_with_min(x, min_servings):
    if x < min_servings:
        return x**2
    return x

alcohol.apply(multiply_by_self_with_min, args=(200,))

country
Afghanistan     400.0
Albania         200.0
Algeria         400.0
Andorra         841.0
Angola         2025.0
                ...
Venezuela         9.0
Vietnam           1.0
Yemen             NaN
Zambia           16.0
Zimbabwe         16.0
Name: wine_servings, Length: 193, dtype: float64

In [211]:
alcohol.apply(multiply_by_self_with_min, min_servings=200)

country
Afghanistan     400.0
Albania         200.0
Algeria         400.0
Andorra         841.0
Angola         2025.0
                ...
Venezuela         9.0
Vietnam           1.0
Yemen             NaN
Zambia           16.0
Zimbabwe         16.0
Name: wine_servings, Length: 193, dtype: float64

In [212]:
# map method - mainly used for substituting values
alcohol.map(lambda x: x**3)

country
Afghanistan       8000.0
Albania        8000000.0
Algeria           8000.0
Andorra          24389.0
Angola           91125.0
                 ...
Venezuela           27.0
Vietnam              1.0
Yemen                NaN
Zambia              64.0
Zimbabwe            64.0
Name: wine_servings, Length: 193, dtype: float64