In [13]:
import pandas as pd

## Lecture 1 - What is a Series

In [29]:
students = ["Andrew","Brie", "Kanika"]

In [30]:
type(students)

list

In [31]:
pd.Series(students)

0    Andrew
1      Brie
2    Kanika
dtype: object

In [32]:
ages = [27,49,37]

In [33]:
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

In [34]:
heights = [164.4,173.2,190.0]

In [35]:
pd.Series(heights)

0    164.4
1    173.2
2    190.0
dtype: float64

In [36]:
mixed = [True, "say", {"my_mood": 100}]
pd.Series(mixed)

0                True
1                 say
2    {'my_mood': 100}
dtype: object

In [37]:
books_list = ["Fooled by Randomness", "Sapiens", "Lenin on the Train"]

In [38]:
list_s = pd.Series(books_list)

In [39]:
books_dict = {0:"Fooled by Randomness", 1:"Sapiens", 2:"Lenin on the Train"}

In [40]:
dict_s = pd.Series(books_dict)

In [41]:
list_s.equals(dict_s)

True

In [42]:
pd.Series(ages, dtype="float")

0    27.0
1    49.0
2    37.0
dtype: float64

### Index and RangeIndex

In [43]:
pd.Series(data=books_list, index=['funny','serious and amusing','kinda interesting'])

funny                  Fooled by Randomness
serious and amusing                 Sapiens
kinda interesting        Lenin on the Train
dtype: object

In [44]:
type(list_s.index)

pandas.core.indexes.range.RangeIndex

In [45]:
list_s.index

RangeIndex(start=0, stop=3, step=1)

In [46]:
list(pd.RangeIndex(start=4, stop=7, step=1))

[4, 5, 6]

In [47]:
books_series.name

NameError: name 'books_series' is not defined

In [48]:
books_series = list_s

In [51]:
books_series.name = "my favourite books"

In [52]:
books_series

0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
Name: my favourite books, dtype: object

In [55]:
books_series.index.name = "My Books"

In [57]:
books_series

My Books
0    Fooled by Randomness
1                 Sapiens
2      Lenin on the Train
Name: my favourite books, dtype: object