In [6]:
import pandas as pd
import numpy as np

In [1]:
actor_names = ["Tom Cruise", "Chris Hemsworth", "Chris Pine", "Chris Pratt"]

In [2]:
actor_ages = [60, 39, 42, 43]

In [15]:
actors = pd.Series(data=actor_ages, index=actor_names, name="actors")

In [16]:
actors

Tom Cruise         60
Chris Hemsworth    39
Chris Pine         42
Chris Pratt        43
Name: actors, dtype: int64

In [10]:
list(zip(actor_names, actor_ages))

[('Tom Cruise', 60),
 ('Chris Hemsworth', 39),
 ('Chris Pine', 42),
 ('Chris Pratt', 43)]

In [11]:
res = {}
for x in list(zip(actor_names, actor_ages)):
    res[x[0]] = x[1]

res

{'Tom Cruise': 60, 'Chris Hemsworth': 39, 'Chris Pine': 42, 'Chris Pratt': 43}

In [12]:
actors_dict = pd.Series(res)

In [13]:
actors_dict

Tom Cruise         60
Chris Hemsworth    39
Chris Pine         42
Chris Pratt        43
dtype: int64

In [18]:
pd.Series({name:age for name, age in zip(actor_names, actor_ages)})

Tom Cruise         60
Chris Hemsworth    39
Chris Pine         42
Chris Pratt        43
dtype: int64