# Skills Challenge 3

1. Isolate the non-nulls in the alcohol series and assign them to the variable wine_servings
2. What is the total wine consumned by countries in wine_servings
3. In the wine_servings, what was the total wine consumed by countries that consumed less that 100 servings

In [1]:
import pandas as pd
import numpy as np

In [2]:
alcohol = pd.read_csv("./data/drinks.csv", usecols=["country", "wine_servings"], index_col="country").squeeze("columns").copy()

In [3]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [6]:
# let get all the rows where wine serving is not null
wine_servings = alcohol.loc[alcohol.notnull()]
wine_servings

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [7]:
wine_servings.sum()

8221.0

In [22]:
# total wine consumer where servings was under 100
# wine_servings.loc[lambda x: x < 100].sum()
wine_servings[wine_servings < 100].sum()

2416.0